<%- include("template/cabecera", { tituloWeb: 'Página de inicio' }) %>
<body>
    <h1 class="text-primary">Titulo del sitio web...</h1>
    <h2><%= titulo %></h2>
</body>
<%- include("template/footer") %>
